/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700');

body {
    font-family: roboto;
}

.container {
    max-width: 400px;
    background: linear-gradient(270deg, #C5C3C3 -14.64%, #FAFAFA 51.9%, #E5E5E5 74.08%, #B0AFAF 121.39%, #ACABAB 125.83%);;
    margin: 70px auto 0;
    border-radius: 20px;
    padding: 50px;
}

.logo {
    margin: 0 auto 50px;
    text-align: center;
    max-width: 50%;

}

.title {
    font-family: inherit;
    color: #000;
    font-size: 25px;
    text-align: center;
    display: block;
    margin: 15px 0 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.decription {
    font-family: inherit;
    color: #000;
    font-size: 17px;
    text-align: center;
    display: block;
    margin: 0 0 20px;
}

.button__block {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    margin: 0 0 15px 0;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.button__block:hover {
    background: #d1d1d1;
}

.text a {
    color: inherit;
}

.text {
    display: block;
    margin: 0 auto;
    padding: 15px;
    color: #333;
}

.button__block.style-2 {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    padding: 25px 25px; 
}
.button__block.style-2 .text {
    padding: 5px 0 0;
}

.fa-window-maximize, .fa-calculator, .fa-phone, .fa-envelope, .fa-location-dot {
    color: #333;
    font-size: 20px;
    left: 10px;
    position: absolute;
}


.custom-icon-wa, .fa-telegram, .custom-icon-vk, .custom-icon-inst, .custom-icon-ozon, .custom-icon-wb {
    color: #333 ;
    font-size: 40px;
    left: 10px;
    fill: #333;
}

.button__block.style-2:not(:last-child) {
    margin-right: 15px;
}

.number__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    
.container {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0;
    height: 100vh;
}

}